@charset "UTF-8";

/* Versão Mobile First */
/* Typical Device Breakpoints
pequenas telas: até 600px
Celulares: de 600px até 768px
Tablet: 768 até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/
@media print {
    body{
        background-image: url(../imagens/back-print.jpg);/*desnecessario*/
        
    }
}
@media screen and(min-width: 600px)and(max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }
img#phone {display: none;}
img#tablet{display: block;}
img#print{display: none;}
img#tv{display: none;}
img#pc{display: none;}
}
@media screen and(min-width: 992px)and(max-width: 1200px) {
    
}
@media screen and(min-width: 1200px) {
    
}