@charset "UTF-8";

body{
    background-color: #D49A6A;
font:normal 17px arial serif;
}
h1{
    color: #552700;
    background-color: rgb(245, 162, 62);
}
h1#principal{
    text-align: center;
    background-color:  #804515;
    color: #ffffff;
}
h2{
    color: rgb(0, 0, 0);
}
.basico{
    color: rgb(1, 34, 1);
    font-weight: bold;
}
.intermediario {
    color: rgb(82, 67, 38);
    font-weight: bold;
}
.avancado {
    color: rgb(57, 1, 1);
    font-weight: bold;
}